@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - DXC Free Trial Subscription....</h1>
    <h1>hello</h1>
    <h1>hello2</h1>
    <h1>hello3</h1>
    <h1>hello6</h1>
    <h1>hello7</h1>
    <h1>hello8</h1>
    <h1>hello9</h1>
    <h1>hello10</h1>
    <h1>deepaktest</h1>
    <h1>on git hub</h1>
</div>
