@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome - DXC Free Trial Subscription....</h1>
=======
    <h1 class="display-4">Welcome - DXC Free Trial Subscription</h1>
    <h1 class="display-4">Welcome - DXC Free Trial Subscription....3</h1>
>>>>>>> e48dc68ea82a763379538e2b8a8c80bdc05d2e47
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
